header {
    text-align: center;
    display: block;
}

body {
	background-color:  #1A1A1A;     
    text-align: center;
    margin: 0 auto;
    font-family: "Goudy Bookletter 1911",Times,serif;
    font-size: 16px;
	color: #EAEAEA;
	line-height: 1.5;
}

select {
    text-align: center;
    width: 100px;
}
article {
    overflow: auto;
}

.black {
    background: #000;
    color:#fff;
    text-align: center;
    float: left;
}
.green {
    background-color:#333333;
    background-blend-mode: multiply;
    cursor:auto;
}

span {
    font-size: 30px;
    line-height: 40px;
}

.blackLabel { font-size: 11px; }
label {
    display: block;
    font-size: 18px;
    line-height: 20px;
    height: 20px;
    text-align: center;
    margin: 0 auto;
    cursor: default;
}

#wrapper {
	background-color:  #0a0a0a;     
    box-shadow: 0 0 30px rgb(84 75 49 / 70%);
    float: none;
    width: 1050px;
    margin: 0 auto;
    padding: 10px 0 65px 10px;
}

div {
    display: block;
    font-family: "Caudex",Times,serif;
    margin-right:20px;
    margin-bottom:10px;
}

textarea, input {
    width: inherit;
    height: 28px;
    padding: 5px;
    border: 1px solid rgba(84,75,49,.7);
    font-family: Caudex,times,serif;
    font-size: 20px;
    color: #111;
    background-color: #787878;
    margin: 0;
    resize: none;
    overflow: hidden;
    text-align: center;
}

button {
    font-size: 20px;
    height: 50px;
    margin: 0 3px;
    box-shadow: rgb(87 72 63) 0px -3px 0px 0px inset;
    background-image: linear-gradient(rgb(61, 50, 37) 5%, rgb(50, 42, 32) 100%);
    background-color: rgb(61, 50, 37);
    border-color: rgb(137, 127, 112);
    color: rgb(234, 229, 221);
    text-decoration-color: initial;
    text-shadow: rgb(66 48 47) 0px 1px 0px;
}